/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Nunito", sans-serif;
}

body {
  background-image: url(assets/wallpaper-body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
